{% load static %}

<!-- Hero Slider -->
<div class="slider-container">
  <img class="mySlides" src="{% static 'app_general/images/wallpapers/wallpaper_1.jpg' %}">
  <img class="mySlides" src="{% static 'app_general/images/wallpapers/wallpaper_2.jpg' %}">
  <img class="mySlides" src="{% static 'app_general/images/wallpapers/wallpaper_3.jpg' %}">

  <!-- Text -->
  <div id="hero-text" class="w3-display-left w3-text-white hero-text">
    <span class="w3-jumbo w3-hide-small"><strong>Start something that matters</strong></span><br>
    <span class="w3-large">Stop wasting valuable time with projects that just aren't you.</span>
    <p><a href="#" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-hover-blue w3-hover-shadow w3-round-xlarge">Learn more and start today</a></p>
  </div>
</div>
