{% load static %}
<!-- Navbar (sit on top) -->
<div class="w3-top" style="z-index: 998;">
  <div class="w3-ba w3-white w3-card w3-animate-opacity w3-padding-small w3-round-large" id="myNavbar"
       style="display: flex; align-items: center; box-shadow: 0 4px 10px rgba(0,0,0,0.1);">

    <!-- Logo -->
    <a href="#home" class="w3-bar-item w3-button w3-hover-none w3-padding-16">
      <img src="{% static 'images/logo.png' %}" alt="company-logo" style="width: 140px;">
    </a>

    <!-- Spacer to push menu to right -->
    <div class="w3-bar-item" style="flex: 1;"></div>

    <!-- Right side menu -->
    <div class="w3-bar-item w3-hide-small" style="display: flex; gap: 10px; align-items: center;">
      <a href="{% url 'app_general:home' %}" class="w3-button w3-padding-16 w3-hover-text-blue w3-hover-none"><i class="fa fa-home"></i> Home</a>
      <a href="{% url 'app_general:about' %}" class="w3-button w3-padding-16 w3-hover-text-blue w3-hover-none"><i class="fa fa-user"></i> About</a>
      <a href="{% url 'app_products:home' %}" class="w3-button w3-padding-16 w3-hover-text-blue w3-hover-none"><i class="fa fa-th"></i> Products</a>
      <a href="{% url 'app_general:service' %}" class="w3-button w3-padding-16 w3-hover-text-blue w3-hover-none"><i class="fa fa-usd"></i> Service</a>
      <a href="{% url 'app_general:contact' %}" class="w3-button w3-padding-16 w3-hover-text-blue w3-hover-none"><i class="fa fa-envelope"></i> Contact</a>
      <a href="{% url 'users:login' %}" class="w3-button w3-padding-16 w3-text-blue w3-hover-text-red w3-hover-none"><i class="fa fa-sign-in"></i> Login</a>
    </div>

    <!-- Menu icon for small screens -->
    <a href="javascript:void(0)"
       class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium w3-hover-text-blue"
       onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar for small screens -->
<nav class="w3-sidebar w3-bar-block w3-blue w3-card w3-animate-left w3-hide-medium w3-hide-large"
     style="display:none; z-index: 999" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16 w3-hover-red">Close ×</a>
  <a href="{% url 'app_general:about' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-text-white w3-hover-orange">About</a>
  <a href="{% url 'app_products:home' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-text-white w3-hover-orange">Products</a>
  <a href="{% url 'app_general:service' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-text-white w3-hover-orange">Service</a>
  <a href="{% url 'app_general:contact' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-text-white w3-hover-orange">Contact</a>
  <a href="{% url 'users:login' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-text-white w3-hover-orange">Login</a>
</nav>